*{
    padding: 0;
    margin: 0;
}
.slogan{
background-image: url(bg3.jpg);
background-attachment: absolute;
background-size: cover;
background-repeat: no-repeat;
height: 600px;

}

.strip{
    height: 30px;
    background-color: black;
    width: 100%;
    overflow: visible;
    color: white;
    text-align: center;

}
   
.slogan h1{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 100px;
    font-size: 50px;
    margin-left: 70px;
    position: absolute;
}
.slogan h4{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 250px;
    margin-left: 70px;
    position: absolute;
}
.button{
    margin-top: 450px;
    margin-left: 50px;
    position: absolute;
    
}
input[type='text']{
    height: 40px;
    width: 250px;
    font-size:large;
    padding: 10px;
    border: 3px solid green;
    border-radius: 30px;
    margin-left:30px;;
    
}
input[type='submit']{

height: 50px;
width: 120px;
background-color: skyblue;
border: none;
border-radius: 10px;
font-size: large;
margin: 20px;
}
input[type='submit']:hover{

    height: 50px;
    width: 120px;
    background-color:dodgerblue;
    border: none;
    border-radius: 10px;
    
    }